<!doctype html>
<html lang = "en">
    <head></head>
    <body>

        <hr/>
        {%- for message in get_flashed_messages() %}
            {{ message }}
        {%- endfor %}

        <h3>Cars (<a href="{{ url_for('add_car') }}">Add New Car
            </a>)</h3>

        <table>
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Transmission</th>
                </tr>
            </thead>

            <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.transmission }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>
